$color:red;
.card {
    min-width: 300px;
    min-height: 100px;
    width: 330px;
    height: 160px;
    border-radius: 20px;
    position: relative;
    margin: 10px;
}

.cover {
    // background:#ec9c2f;
    $color:var(--color);
    $color:$color !global;
    background:$color;
    min-height: 100px;
    width: 70%;
    height: 160px;
    border-radius: 20px;
}

.whiteBox {
    border-radius: 20px;
    height: calc(100% - 20px);
    width: 92%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin: 10px 15px;
    background-color: white;
    position: absolute;
    // box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    box-shadow: rgb(240 46 170 / 40%) -5px 5px, rgb(240 46 170 / 30%) -10px 10px, rgb(240 46 170 / 20%) -15px 15px, rgb(240 46 170 / 10%) -20px 20px, rgb(240 46 170 / 5%) -25px 25px;
}

.upperBox {
    display: flex;
    width: 80%;
}

.innerBox1 {
    width: 30%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(33 30 30);;

    i {
        font-size: 3.5rem;
    }
}

.innerBox2 {
    width: 70%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(33 30 30);;

    p {
        font-family: 700;
    }

    .p1 {
        font-size: 1.5rem;
        margin: 0% 0% 4% 0%;
    }

    .p2 {
        font-size: .9rem;
        text-align: center;
    }
}

.poly {
    position: absolute;
    top: 71px;
    left:4.5px;
    width: 16px;
    border-color: var(--color);
    box-sizing: content-box;
    border-width: 15px 9px 0;
    border-style: solid;
    z-index: 1;
    transform: rotate(90deg);
    &:before {
        content: "";
        position: absolute;
        height: 0;
        width: 0;
        top: -35px;
        left: -9px;
        border-width: 0px 17px 23px;
        border-style: solid;
        border-color: transparent transparent  var(--color);;
    }
}

// .poly

.hexagon {
    width: 50px;
    height: 30px;
    top: 66px;
    right: -3px;
    background: var(--color);
    position: absolute;
    transform: rotate(90deg);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    h2{
        transform: rotate(270deg);
    }
    &:before {
        position: absolute;
        content: "";
        top: -14.8675px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-bottom: 15px solid var(--color);
    }
    &:after {
        content: "";
        position: absolute;
        bottom: -14.8675px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-top: 15px solid var(--color);
    }
}

